
<h3>Add Employee Here</h3><hr/>

<div ng-controller="myctrl" >
    <p>Employee Id: <input type="text" ng-model="firstName" ></p>
    <p>Employee  Name: <input type="text" ng-model="lastName" ></p>
    <p>Employee  Address : <input type="text" ng-model="lastName" ></p>
    <p>Employee  Name: <input type="text" ng-model="lastName" ></p>
    <p>Employee  Name: <input type="text" ng-model="lastName" ></p>
    <p>Employee  Phone: <input type="text" ng-model="lastName" ></p>
    <p>Employee  Email: <input type="text" ng-model="lastName" ></p>
    
    
    
    
    
    <button type="button" ng-click="SendData()" class="btn btn-primary">Submit</button>
    <hr />
    