
<h3>Add Employee Here</h3><hr/>
<div class="container" >
<div class="form" ng-controller="addEmp" ng-app="myApp"></div>
    <p>Employee  Id:  <div class="form-group">
        <input type="text" ng-model="id" req></div></p>

    <p>Employee  Name: 
        <div class="form-group"><input type="text" ng-model="name" ></div></p>
    <p>Employee  Address : <input type="text" ng-model="address" ></p>
    <p>Employee  DOB: <input type="text" ng-model="dob" ></p>
    <p>Employee  Image: <input type="text" ng-model="image" ></p>
    <p>Employee  Phone: <input type="number" ng-model="phone" ></p>
    <p>Employee  Email: <input type="email" ng-model="email" ></p>

    <button type="button" ng-controller="addEmp"  ng-app= "myApp" "SendData()" class="btn btn-primary">Submit</button>
</div>
    <hr />
        
  </div>